root = true
# Editor configuration, see https://editorconfig.org

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# ReSharper properties
resharper_csharp_wrap_lines = false
resharper_keep_existing_linebreaks = false
